{% extends 'base.html' %}
{% block content %}
  <h1>Edit “{{ recipe.title }}”</h1>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div>
      {{ form.ingredients.label }}<br>
      {{ form.ingredients(rows=4) }}
    </div>
    <div>
      {{ form.instructions.label }}<br>
      {{ form.instructions(rows=4) }}
    </div>
    <div>
      {{ form.tags.label }}<br>
      {{ form.tags(class="") }}
      <small>Comma-separate (e.g. vegan, dessert)</small>
    </div>
    <div>
      {{ form.submit(label="Update") }}
    </div>
  </form>
{% endblock %}
