{% extends 'base.html' %}
{% block title %}Your Recipes{% endblock %}
{% block content %}
  <h1>Your Recipes</h1>
  <ul>
    {% for recipe in recipes %}
      <li>
        <a href="{{ url_for('view_recipe', id=recipe.id) }}">{{ recipe.title }}</a>
        [<a href="{{ url_for('edit_recipe', id=recipe.id) }}">Edit</a>]
        [<a href="{{ url_for('delete_recipe', id=recipe.id) }}">Delete</a>]
      </li>
    {% else %}
      <li>You have no recipes yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
